/*
> Jim Carroll |
> 11/25/2020 |
> [GitHub Profile](https://github.com/pulamusic)

Just fucking around, seeing what I can do

*/

/* ======== Basic settings ======== */
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(40, 44, 52, 0.8);
}

code {
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: rgba(175, 187, 211, 0.8);
}

a:hover {
  color: rgba(175, 187, 211, 1);
}

.container {
  margin: 0;
  padding: 0;
}

.section-marker {
  font-weight: 300;
  font-size: 1.6em;
}

/* ======== Header ======== */
.App-header {
  background-color: rgba(40, 44, 52, 0.8);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.App-header h1 {
  font-weight: 300;
  font-size: 4.2em;
  margin-top: 0;
  padding: 0;
}

.App-header h1, img {
  transition: all 2s ease-in-out;
}

.App-header:hover h1 {
  transform: scale(0.95);
  color: rgba(255, 255, 255, 0.6);
}

.App-header:hover img {
  transform: scale(1.05);
  box-shadow: 1em 1em 7em rgba(0, 0, 0, 1);
  border-radius: 0.6em;
}

.App-header-feature-img {
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.3em;
  box-shadow: 1em 1em 5em rgba(0, 0, 0, 1);
}

/* ======== Navbar ======== */

.App-nav {
  display: flex;
  flex-direction: row;
  background-color: rgba(40, 44, 52, 0.6);
}

.App-nav ul, li {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.App-nav li {
  padding: 1em 2em;
  font-size: 1.4em;
}

/* ======== Main ======== */

.App-main {
  margin: 0;
  padding: 3em 4em;
  color: #ffffff;
}

.App-main-feature-img {
  margin: 0;
  padding: 0;

}

.App-main-figure {
  display: flex;
  flex-direction: column;
  text-align: center;
  float: right;
  margin: 0.8em 1.4em;
  transition: all 5s ease-in-out;
}

.App-main-figure figcaption {
  margin-top: 1em;
  padding: 0.3em;
  font-size: 1.3em;
  font-weight: 400;
}

.App-main-body-img {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.6em;
  box-shadow: 1em 1em 5em rgba(0, 0, 0, 0.8);
}

.App-main-figure:hover {
  transform: scale(1.05);
}

/* ======== Footer ======== */

.App-footer {
  background-color: rgba(40, 44, 52, 0.8);
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.App-footer p {
  padding: 0.8em;
  margin: 0 0 2em 0;;
}

.App-footer ul {
  margin: 1.6em 0;
  padding: 0;
  background-color: rgba(40, 44, 52, 0.6);
  transition: all 3s ease-in-out;
  border-radius: 0.4em;
}

.App-footer ul:hover {
  transform: scale(1.05);
  background-color: rgba(40, 44, 52, 1);
}

.App-footer li {
  text-decoration: none;
  margin: 0;
  padding: 1em 2em;
  font-size: 1.4em;
}
